@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Monoton&display=swap');


html,body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9EBE7;
    max-width: 100%;
    overflow-x: hidden;
}

.monoton {
    font-family: 'Monoton', cursive;
}

.head-stand h1 {
    font-family: 'Monoton', cursive;
    color: #ee0000;
    letter-spacing: .3vw;
}

#logo-kpn {
    width: 5%;
}

#img-1 {
    top: -1%;
    left: -1%;
    opacity: 10%;
    position: absolute;
    width: 100vw;
}


.page-1 {
    position: relative;
    height: 100;
}

.intro-title {
    width:100%;
    text-align: center;
}

.page-1, .d-inline { 
    color: #000;
    padding: 2x 15px;
    letter-spacing: 1px;
}

.red {
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
}

.bg-white{
    background-color:white;
}

.relative{
    position: relative;
}

.kartu {
    display: flex;
    justify-content: space-evenly;
    margin-inline: 5%;
    padding-block: 5%;
    text-align: justify;
    border-radius: 30px;
}

.kartu h2 {
    font-weight: bold;
}

.head-stand {
    display: flex;
    justify-content: space-between;
    margin-top: 28em;
    margin-left: 2.3em;
}

.anj-1 {
    left: 50%;
}

.anj-2 {
    right: 3.1em;
}

#card-img {
    width: 100%;
}

.card-button {
    border-radius: 10px; 
    text-align:center;
    padding: .85em 2em .5em 2em;
    background-color:red;
    color:white;                
}  

.link-button {
    text-decoration: none;
}

#card-desc h2 {
    margin-bottom: 5%;
}
.card-button h4 {
    font-weight: bolder;
}

.centering h1 {
    font-weight: bolder;
    margin-top: 20vw;
    font-size: 3.5em;
}

.centering h6 {
    letter-spacing: .2rem;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

.page-1 .menuAtas a {
    font-weight: bolder;
    font-size: 1.5em;
}

.page-1 h2 {
    font-weight: bold;
    font-size: 2em;
    
}

.col-4 h6 {
    font-weight: bold;
    font-size: 1.1em;
}

.JumlahStand, .makanan, .minuman {
    text-align: center;
}

.page-2 h2 {
    font-weight: bolder;
    font-size: 2em;
}

.page-2  h1 {
    margin-top: 5%;
    color: #ee0000;
    letter-spacing: .3vw;
    margin-left: 1.65em;
}

.dashboard-card {
    background-color: white;
    border-radius: 15px;
}

.dashboard-card-kiri {
    background-color: white;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-weight: 00;
    text-align: center;
    display: flex;
}

#large-text {
    font-size:50px;   
    font-weight: 80px;
}


progress {
    width: 70%;
    height: 1em;
    background-color: #fff;
    appearance: transparent;
  }
  
  progress::-webkit-progress-value {
    background-color: #ee0000;
  }

  progress::-webkit-progress-bar {
    background-color: #ffff; 
  }

  